// colors
$primary-color:         #f37c1b;
$primary-color-dark:    #c15600;
$primary-color-light:   #ff9f51;
$secondary-color:       #f37c1b;
$secondary-color-dark:  #c15600;
$background-color:      #1d1d1d;
$background-color-20:   #212121;
$background-color-30:   #232323;
$background-color-40:   #262626;
$background-color-60:   #2c2c2c;
$background-color-dark: #121212;
$background-color-light:#f8f9fa;
$background-color-gray: #9e9e9e;
$text-light:            #f8f9fa;
$text-white-50:         hsla(0,0%,100%,.5);

// fonts
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
